<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayerMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D56541991C9784A500C2DAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56541B21C9784A600C2DAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56541BD1C9784A600C2DAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
